* {
  font-family: Arial, monospace;
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: #00080E;
  height: 80px;
  color: white;
  padding: 10px 6vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: white;
}
header .Logo {
  align-items: center;
  margin: auto 10px auto 0;
  display: flex;
}
header .Logo img {
  margin-right: 10px;
}
header .Logo div {
  display: flex;
  flex-direction: column;
}
header .Logo div #Name {
  font-size: 24px;
}
header .Logo div #Op {
  font-size: 12px;
}
header .Bar {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
header .Bar .CategoryMenu {
  position: relative;
}
header .Bar .CategoryMenu .Category {
  display: flex;
}
header .Bar .CategoryMenu .Category .arrow {
  margin: auto 10px;
  position: relative;
  display: flex;
}
header .Bar .CategoryMenu .Category .arrow .l1,
header .Bar .CategoryMenu .Category .arrow .l2 {
  width: 5px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 1s;
}
header .Bar .CategoryMenu .Category .arrow .l1 {
  transform: rotate(-45deg);
}
header .Bar .CategoryMenu .Category .arrow .l2 {
  transform: rotate(45deg);
  margin-left: 3px;
}
header .Bar .CategoryMenu .CategoryDropped {
  display: none;
}
header .Bar .CategoryMenu:hover .CategoryDropped {
  right: -75px;
  display: flex;
  position: absolute;
  background-color: #0079D1;
  padding: 25px 50px 25px 25px;
  border-radius: 0 0 50px 50px;
  border-color: white;
  border-style: solid;
  border-width: 0 3px 3px 3px;
  z-index: 4;
}
header .Bar .CategoryMenu:hover .CategoryDropped div {
  display: flex;
}
header .Bar .CategoryMenu:hover .CategoryDropped li {
  padding: 10px;
}
header .Bar .CategoryMenu:hover .arrow .l1,
header .Bar .CategoryMenu:hover .arrow .l2 {
  transition: all 1s;
}
header .Bar .CategoryMenu:hover .arrow .l1 {
  transform: rotate(45deg);
}
header .Bar .CategoryMenu:hover .arrow .l2 {
  transform: rotate(-45deg);
}
header .Bar .ContactsMenu {
  position: relative;
}
header .Bar .ContactsMenu .Contacts {
  display: flex;
}
header .Bar .ContactsMenu .Contacts .arrow {
  margin: auto 10px;
  position: relative;
  display: flex;
}
header .Bar .ContactsMenu .Contacts .arrow .l1,
header .Bar .ContactsMenu .Contacts .arrow .l2 {
  width: 5px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 1s;
}
header .Bar .ContactsMenu .Contacts .arrow .l1 {
  transform: rotate(-45deg);
}
header .Bar .ContactsMenu .Contacts .arrow .l2 {
  transform: rotate(45deg);
  margin-left: 3px;
}
header .Bar .ContactsMenu .ContactsDropped {
  display: none;
}
header .Bar .ContactsMenu:hover .ContactsDropped {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #0079D1;
  padding: 15px 25px;
  left: -60px;
  border-radius: 0 0 50px 50px;
  width: 250px;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 0 3px 3px 3px;
  z-index: 4;
}
header .Bar .ContactsMenu:hover .ContactsDropped .nums {
  padding: 10px;
}
header .Bar .ContactsMenu:hover .ContactsDropped .nums div {
  padding: 5px;
}
header .Bar .ContactsMenu:hover .arrow .l1,
header .Bar .ContactsMenu:hover .arrow .l2 {
  transition: all 1s;
}
header .Bar .ContactsMenu:hover .arrow .l1 {
  transform: rotate(45deg);
}
header .Bar .ContactsMenu:hover .arrow .l2 {
  transform: rotate(-45deg);
}
header .Bar .ContactsDropped,
header .Bar .CategoryDropped {
  z-index: 2;
}
header .Bar .ContactsDropped ::selection,
header .Bar .CategoryDropped ::selection {
  background: #FFB801;
  color: #00080e;
}
header .Bar .ContactsDropped a:hover,
header .Bar .CategoryDropped a:hover {
  text-decoration: underline;
}
header .Bar .Category,
header .Bar .Contacts {
  margin: 28px 10px;
  font-size: 20px;
  position: relative;
}
header .Bar .News {
  margin: 28px 0;
  font-size: 20px;
  position: relative;
}
header .Bar .Icons {
  display: flex;
  position: relative;
}
header .Bar .Icons a {
  padding: 0 1vmax;
}
header .Bar .Icons .input {
  padding: 0 0 0 1vmax;
  display: flex;
}
header .Bar .Icons .input input {
  border-radius: 50px;
  width: 100%;
  height: 40px;
  padding-left: 50px;
}
header .Bar .Icons .input input:focus {
  outline: none;
}
header .Bar .Icons .input button {
  margin: auto 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  border: transparent;
  color: transparent;
}
header .Bar .Icons .input button:focus {
  outline: none;
}
header .Bar .Icons .input button:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.17);
}
@media (max-width: 930px) {
  header {
    padding: 10px 4vmax;
  }
  header .Bar {
    padding-bottom: 50px;
    display: none;
  }
  header .showBar {
    left: 0;
    top: 80px;
    background-color: #00080e;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    z-index: 4;
  }
  header .showBar .Icons {
    margin: 28px 0 ;
  }
  .Menu {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
    transition: all 0.5s;
  }
  .Menu div {
    transition: all 0.5s;
    width: 35px;
    height: 5px;
    border-radius: 25px;
    background-color: white;
  }
  .Anime .l1 {
    transform: rotate(45deg);
  }
  .Anime .l2 {
    position: absolute;
    transform: rotate(-45deg);
  }
  .Anime .disapear {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */